<footer>
  <div class="sidebar-link">
    <div class="container">
      <div class="row">
        <div class="col-120">
          <!--<p class="sidebar-link__link"><a class="dotted-link" href="">FAQ</a></p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-footer bg-gradient-dark-blue-to-blue">
    <div class="container">
      <div class="row">
        <div class="col-120">
          <p class="sidebar-footer__link">Support 24/7</p>
          <p class="sidebar-footer__link">
            <contact-mail></contact-mail>
          </p>
          <p class="sidebar-footer__link">
            <contact-phone></contact-phone>
          </p>
          <p class="sidebar-footer__link fs-12">
            <a href="https://denjoy.group">
              Created by Denjoy with
             <i class=" fas fa-heart text-danger"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
